*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0) 0%, rgb(28, 28, 155) 35%, rgb(17, 78, 90) 100%);
}

.center-painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    transform: scale(2);
    box-shadow: 6px 6px 25px #111;
}

.center-painel .title {
    margin-top: 30px;
}

.center-painel .title h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(2, 2, 39);
}

.center-painel .password {
    margin: 20px;
}

.center-painel .password input[type='text'] {
    background-color: transparent;
    padding: 15px;
    color: rgb(2, 2, 39);   
    outline: none;
    border: none;
    border: 1px solid  rgb(2, 2, 39);
    border-radius: 15px;
    padding-left: 30px;
    font-size: 15px;
}

.center-painel .password ::-webkit-input-placeholder {
    color: rgb(2, 2, 39);
}

.center-painel .btn button {
    cursor: pointer;
    background-color: transparent;
    padding: 8px;
    border-radius: 15px;
    
}

.center-painel .btn button:hover {
    box-shadow: 2px 3px 15px ;
}